/* Importerar css för caroussel */
@import url('./carousel.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --header-grey: #121212;
    /* Primary BG bör vara din bakgrundsfärg */
    --primary-bg: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --text-yellow: #F5C518;
    --text-white: #ffffff;

}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-bg);
    max-width: 100%;
}

/* Utils */
.content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

.d-none {
    display: none;
}

.header {
    background-color: var(--header-grey);
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 150px;
    background-color: var(--text-yellow);
}

.header__search-bar {
    width: 100%;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.header__input {
    width: 50%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
}

.header__form-btn {
    border-radius: 0 2rem 2rem 0;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.search__dropdown {
    border-radius: 10px;
    position: absolute;
    top: 110%;
    left: 20%;
    width: 60%;
    background-color: white;
    overflow: hidden;
    z-index: 900;
}

.search__list-item {
    max-height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: .4rem;
    border-bottom: 1px solid black;
}

.search__list-item:hover {
    background-color: rgba(128, 128, 128, 0.5);
    cursor: pointer;
} 

.search__poster {
    max-width: 50px;
    max-height: 86px;
}

.header__search-list-item {
    background-color: var(--primary-white);
    margin-bottom: .5rem;
    padding: 1rem;
}

.search__movie-info {
    padding: 1rem;
}

.search__title {
    margin-bottom: .2rem;
    font-weight: 700;
}

.search__no-title {
    background-color: var(--primary-white);
    margin-bottom: .5rem;
    padding: 1rem;
}

.header__nav-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-yellow);
    background: none;
    border: none;
    cursor: pointer;
}

/* ==== Index page ==== */
/* Our recommended movies section */
.content-wrapper__title {
    color: var(--text-white);
    text-align: center;
    margin-bottom: 2rem;
}

.card-container {
    color: var(--text-white);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 223px));
    justify-content: center;
    gap: 1rem;
}

.card__movie {
    width: 100%;
    height: 100%;
    background-color: var(--primary-grey);
    border-radius: 10px;
    overflow: hidden;
}

.card__top {
    width: 100%;
    aspect-ratio: 2 / 3;
    position: relative;
    overflow: hidden;
}

.card__favourite-box {
    width: 20%;
    height: 20%;
    opacity: 70%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 899;
}

.card__favourite-star {
    position: absolute;
    padding: 0.5rem;
}

.card__favourite-star:hover {
    cursor: pointer;
}

.card__favourite-bookmark {
    width: 100%;
    position: absolute;
}

.card__poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__poster:hover {
    opacity: 80%;
    cursor: pointer;
}

.card__bottom {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.card__rating-container {
    display: flex;
    gap: .5rem;
}

.card__rating-star {
    max-width: 7%;
}

.card__title:hover {
    cursor: pointer;
}

/* ==== Movie overlay ==== */
/* Overlay som täcker hela skärmen med 90% opacitet*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Svart bakgrund med 90% opacitet */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modalinnehåll med max-width på 900px */
  .modal-content {
    background: var(--primary-bg);
    max-width: 900px;
    width: 90%;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    color: white;
    border: 1px solid #F5C518;
    overflow: hidden;
  }

  .card__favourite-box--smaller {
      width: 58px;
  }
  
.movie {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.movie__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
}

.movie__title {
    margin-bottom: 1rem;
}

.movie__poster {
    grid-column: 1;
    grid-row: 1 / span 3;    
    max-width: 270px;
    max-height: 400px;
}

.movie__poster-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie__top-info {
    grid-column: 2 / 4;
    grid-row: 1;
}

.movie__plot {
    grid-column: 2 / 4;
    grid-row: 2;
    padding: 1rem 0;
    border-top: 1px solid white;
}

.movie__top-info, .movie__bottom-info {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    border-top: 1px solid white;
}

.movie__bottom-info {
    grid-column: 2 / 4;
    grid-row: 3;
}

.movie__summary {
    display: flex;
}

.movie__close-btn {
    width: 30%;
    align-self: flex-end;
}

.empty-msg {
    text-align: center;
}

/* ==== MEDIA QUERIES ==== */
.search-title {
    color: var(--text-white);
    text-align: center;
    margin: 2rem;
}

 
/* ==== MEDIA QUERIES ==== */
@media screen and (max-width: 900px) { 
    /* Moviecard i overlay */
    .movie__poster {
        max-height: 200px;
        max-width: 150px;
        grid-row: 1;
    }

    .movie__top-info {
        grid-column: 2 / 4;
        gap: 0;
        flex-direction: column;
    }

    .movie__plot {
        grid-column: 1 / 4;
        grid-row: 2;
        padding: 1rem 0;
    }

    .movie__bottom-info {
        grid-column: 1 / 4;
        grid-row: 3;
    }
/* 
    .card__favourite-box--smaller {
        min-width: 58px;
    } */
        
}

/* ==== Index page ==== */
.content-wrapper--margin-top {
margin-top: 2rem;
}


