/* Importerar css för caroussel */
@import url('./carousel.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --header-grey: #121212;
    /* Primary BG bör vara din bakgrundsfärg */
    --primary-bg: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --text-yellow: #F5C518;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-bg);
    max-width: 100%;
}

/* Utils */
.content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

.d-none {
    display: none;
}

.header {
    background-color: var(--header-grey);
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 150px;
    background-color: yellow;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__input {
    width: 50%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
}

.header__form-btn {
    border-radius: 0 2rem 2rem 0;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.header__fav-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-yellow);
    background: none;
    border: none;
    cursor: pointer;
}

/* ==== Index page ==== */

/* Our recommended movies section */
.popular-title {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

.card-container {
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.card__movie {
    width: 100%;
    height: 100%;
    background-color: var(--primary-grey);
    border-radius: 10px;
    overflow: hidden;
}

.card__top {
    width: 100%;
    aspect-ratio: 2 / 3;
    /* height: 370px; */
    position: relative;
    overflow: hidden;
}

.card__favourite-box {
    width: 20%;
    height: 20%;
    opacity: 70%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}

.card__favourite-star {
    position: absolute;
    padding: 0.5rem;
}

.card__favourite-star:hover {
    cursor: pointer;
    /* content: url('../res/icons/star-solid.svg'); */
}

.card__favourite-bookmark {
    width: 100%;
    position: absolute;
}

.card__poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__poster:hover {
    opacity: 80%;
    cursor: pointer;
}

.card__bottom {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.card__rating-container {
    display: flex;
    gap: .5rem;
}

.card__rating-star {
    max-width: 7%;
}

/* ==== Movie overlay ==== */

.movie__container {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    color: white;
    background-color: var(--primary-bg);
}

.movie {
    width: 100%;
}

.movie__poster {
    width: 10%;
}

.movie__info {
    display: flex;
}

.movie__top-info, .movie__bottom-info {
    display: flex;
}