/* Importerar css för caroussel */
@import url('./carousel.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --header-grey: #121212;
    --primary-bg: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --text-yellow: #F5C518;
    --text-white: #ffffff;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

body {
    background-color: var(--primary-bg);
    max-width: 100%;
}

/* Utils */
.content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

.content-wrapper--margin-bottom {
    margin-bottom: 2rem;
}

.d-none {
    display: none;
}

/* ==== Header section ==== */
.header {
    background-color: var(--header-grey);
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
}

.header__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header__logo {
    width: 150px;
    background-color: var(--text-yellow);
    grid-column: 1 / 2;
}

.header__search-bar {
    width: 100%;
    grid-column: 2 / span 2;
    align-self: center;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.header__input {
    width: 50%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
}

.header__form-btn {
    border-radius: 0 2rem 2rem 0;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.header__nav-btn {
    align-self: center;
    justify-self: end;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-yellow);
    background: none;
    border: none;
    cursor: pointer;
}

/* ==== Search section ==== */
.search__dropdown {
    border-radius: 10px;
    position: absolute;
    top: 110%;
    left: 18%;
    width: 64%;
    background-color: white;
    overflow: hidden;
    z-index: 900;
}

.search__list-item {
    max-height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: .4rem;
    border-bottom: 1px solid black;
}

.search__list-item:hover {
    background-color: rgba(128, 128, 128, 0.5);
    cursor: pointer;
} 

.search__poster {
    max-width: 50px;
    max-height: 86px;
}

.header__search-list-item {
    background-color: var(--primary-white);
    margin-bottom: .5rem;
    padding: 1rem;
}

.search__movie-info {
    padding: .5rem;
}

.search__title {
    margin-bottom: .2rem;
    font-weight: 600;
}

.search__no-title {
    background-color: var(--primary-white);
    margin-bottom: .5rem;
    padding: 1rem;
}

.search-title {
    color: var(--text-white);
    text-align: center;
    margin: 2rem;
}

/* ==== Index page ==== */
/* TOP 20 HIGHEST RATING MOVIES */   
.content-wrapper__title {
    color: var(--text-white);
    text-align: center;
    margin-bottom: 2rem;
}

.content-wrapper--margin-top {
    margin-top: 2rem;
    }

.card-container {
    color: var(--text-white);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 223px));
    justify-content: center;
    gap: 1rem;
}

.card__movie {
    width: 100%;
    height: 100%;
    background-color: var(--primary-grey);
    border-radius: 10px;
    border: 1px solid #F5C518;
    overflow: hidden;
    box-shadow: 0 0 0px white;
    transition: box-shadow 0.3s ease-in-out;
}

.card__movie:hover {
    box-shadow: 0 0 30px white;
}

.card__top {
    width: 100%;
    aspect-ratio: 2 / 3;
    position: relative;
    overflow: hidden;
}

.card__favourite-box {
    width: 20%;
    height: 20%;
    opacity: 70%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 899;
}

.card__favourite-star {
    position: absolute;
    padding: 0.5rem;
}

.card__favourite-star:hover {
    cursor: pointer;
}

.card__favourite-bookmark {
    width: 100%;
    position: absolute;
}

.card__poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__poster:hover {
    opacity: 80%;
    cursor: pointer;
}

.card__movie:hover .card__trailer-btn {
    transform: translateY(0);
}

.card__trailer-btn {
    width: 100%;
    padding: .5rem 0;
    background-color: #F5C518;
    position: absolute;
    bottom: 0;
    left: 0;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}

.card__movie:hover .card__trailer-btn:hover {
    cursor: pointer;
}

.iframe {
    border: 1px solid #F5C518;
    border-radius: 10px;
}

.card__bottom {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.card__rating-container {
    display: flex;
    gap: .5rem;
}

.card__rating-star {
    max-width: 7%;
}

.card__title:hover {
    cursor: pointer;
}

/* ==== Movie overlay ==== */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
.modal-content {
    background: var(--primary-bg);
    max-width: 900px;
    width: 90%;
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    top: 5%;
    color: white;
    border: 1px solid #F5C518;
    overflow: hidden;
  }

.card__favourite-box--smaller {
    width: 58px;
  }
  
.movie {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.movie__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
}

.movie__title {
    margin-bottom: 1rem;
}

.movie__poster {
    grid-column: 1;
    grid-row: 1 / span 3;    
    max-width: 270px;
    max-height: 400px;
}

.movie__poster-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie__top-info {
    grid-column: 2 / 4;
    grid-row: 1;
}

.movie__plot {
    grid-column: 2 / 4;
    grid-row: 2;
    padding: 1rem 0;
    border-top: 1px solid white;
}

.movie__top-info, .movie__bottom-info {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    border-top: 1px solid white;
}

.movie__bottom-info {
    grid-column: 2 / 4;
    grid-row: 3;
}

.movie__summary {
    display: flex;
}

.movie__close-btn {
    width: 30%;
    align-self: flex-end;
}

.empty-msg {
    text-align: center;
}
 
/* ==== MEDIA QUERIES ==== */
@media screen and (max-width: 900px) { 
    /* Moviecard i overlay */
    .header__grid {
        gap: .57rem;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .header__nav-btn {
        grid-column: 4;
        justify-self: end;
    }

    .search__dropdown {
        left: 5%;
        width: 90%;
    }

    .header__search-bar {
        grid-column: 2 / span 2;
    }

    .header__input {
        width: 70%;
    }  

    .movie__poster {
        max-height: 200px;
        max-width: 150px;
        grid-row: 1;
    }

    .movie__top-info {
        grid-column: 2 / 4;
        gap: 0;
        flex-direction: column;
    }

    .movie__plot {
        grid-column: 1 / 4;
        grid-row: 2;
        padding: 1rem 0;
    }

    .movie__bottom-info {
        grid-column: 1 / 4;
        grid-row: 3;
    }
      
    .modal-content {
        top: 3%;
        overflow-y: auto; /* Gör det möjligt att scrolla innehållet vertikalt */
        scrollbar-width: none;
        max-height: 55vh;  /* Sätter en maxhöjd för modalen så att den inte blir för stor */
    }
}

@media screen and (max-width: 600px) {
    .header__search-bar {
        grid-column: 1 / span 4;
        grid-row: 2 / 3;
    }
}